<% @page_title = "このサイトについて" %>

<h3 style="border-style: groove; padding: 4px;"><%= @page_title %></h3>

<h3>作成の背景</h3>
<p>Webアプリケーションでありながら、個人用です。</p>
<p>作者が自宅でExcelに入れていくよりは、1つのデータベースにデータをまとめたかったために作りました。</p>


<h3>お使いになる方に</h3>
<p>linuxマシンにRuby on Rails環境を構築される方向けではありますが、入手先と個人向け分類のカスタマイズについて簡単に触れておきます。
<ul>
<li>GitHubの以下URLからダウンロード。</li>
  <ul>
    <li>https://github.com/newmochi/</li>
    <li>kakeibo</li>
  </ul>
<li>ubuntu14.04上、ruby2.2.0(x86_64-linux)、Rails4.2.0にて動作確認済。それに近い環境に展開。</li>
<li>必要に応じて支出、収入、貯蓄(資産)マスターの分類のカスタマイズ実施。basic認証設定変更。</li>
</ul>

