<% @page_title = "家計簿アプリケーション" %>

<h3 style="border-style: groove; padding: 4px;"><%= @page_title %></h3>

  <%= image_tag("torisetsu.jpg", size: "708x706",:style => "margin: 2px",
  :class => "img-responsive", alt: "Hmochi Logo") %>



